<%- include('partials/nav') %>

<h1><%= item.name %></h1>

<% item.images.forEach(img => { %>
  <div>
    <img src="/uploads/<%= img %>">
  </div>
<% }) %>

<ul>
  <li>ID: <%= item.id %></li>
  <li>Amount: <%= item.amount %></li>
</ul>

<form action="/items/<%= item.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form>
